<div class="scanner-page">

  <header class="scanner-header">

    <button
      class="back-button"
      type="button"
      (click)="closeScanner()">

      ←

    </button>


    <div>

      <h1>

        {{
          scanType === 'testing'
            ? 'Testing Label'
            : 'Wooden Factory'
        }}

      </h1>


      <p>
        Scan QR or choose an image
      </p>

    </div>

  </header>


  <!-- CAMERA -->

  <div class="camera-container">

    <video
      #video
      class="camera"
      autoplay
      muted
      playsinline>
    </video>


    <div class="scan-frame">

      <div class="corner top-left"></div>

      <div class="corner top-right"></div>

      <div class="corner bottom-left"></div>

      <div class="corner bottom-right"></div>

    </div>


    <p class="scan-message">

      Place the QR code inside the frame

    </p>


    @if (isLoading) {

      <div class="loading">

        <div class="spinner"></div>

        <span>
          Reading QR code...
        </span>

      </div>

    }

  </div>


  <!-- STATUS -->

  @if (statusMessage) {

    <div class="status-message">

      {{ statusMessage }}

    </div>

  }


  <!-- CHOOSE IMAGE -->

  <div class="image-option">

    <div class="divider">

      <span>OR</span>

    </div>


    <label class="image-button">

      <span class="image-icon">
        🖼️
      </span>

      <span>
        Choose QR Image
      </span>


      <input
        type="file"
        accept="image/*"
        (change)="onImageSelected($event)"
      >

    </label>


    <p class="image-hint">

      Choose a photo containing the QR code

    </p>

  </div>


  <!-- ERROR -->

  @if (errorMessage) {

    <div class="error">

      {{ errorMessage }}

    </div>

  }


  <!-- SCANNED DATA -->

  @if (scannedData) {

    <div class="result">

      <p>
        QR Scanned Successfully
      </p>


      <small>
        {{ scannedData }}
      </small>

    </div>

  }

</div>